@import "./variables";

* {
  margin: 0%;
  padding: 0%;
}
/*------------Navigation-----------*/
#nav-bar {
  position: sticky;
  top: 0%;
  z-index: 10;
}
.navbar-brand img {
  height: 80px;
  width: 10rem;
  padding-left: 30px;
}
.navbar-nav li {
  padding: 0 10px;
  a {
    float: right;
    text-align: left;
  }
}
#nav-bar ul li a:hover {
  color: #007bff !important;
}
.navbar {
  background: #fff;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}
/*------------Slider-----------*/
#slider {
  width: 100%;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: inital !important;

  h5 {
    color: #fff;
    font-size: 45px;
  }
}
